@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="animate fadeInUp one">
        <!-- TITLE -->
        <div class="TitleSize">
            <center>
                ESTÁ PREPARADO PARA A SUA MASSAGEM?
            </center>
        </div>
        <hr>
        <div style="margin-left: 7%;">
            <div class="gallery">
                <a href="@Url.Action("Index", "Login")" class="thumbnail">
                    <img src="..\..\Content\images\sueca.png">
                </a>
                <div class="desc">Sueca</div>
            </div>

            <div class="gallery" style="margin-top:1.5%">
                <a href="@Url.Action("Index", "Login")" class="thumbnail">
                    <img src="..\..\Content\images\deep.png">
                </a>
                <div class="desc">Profunda</div>
            </div>

            <div class="gallery">
                <a href="@Url.Action("Index", "Login")" class="thumbnail">
                    <img src="..\..\Content\images\relaxar.png">
                </a>
                <div class="desc">Relaxante</div>
            </div>

            <div class="gallery">
                <a href="@Url.Action("Index", "Login")" class="thumbnail">
                    <img src="..\..\Content\images\desportiva.png" style="width:90%">
                </a>
                <div class="desc">Desportiva</div>
            </div>
            <div class="gallery" style="margin-top:1.3%">
                <a href="@Url.Action("Index", "Login")" class="thumbnail">
                    <img src="..\..\Content\images\natal.png">
                </a>
                <div class="desc">Pré-Natal</div>
            </div>
        </div>
    </div>
</div>