<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HomeMassage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Zen+", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Massagens", "About", "Home")</li>
                    <li>@Html.ActionLink("Requisitar Massagem", "Index", "Servico")</li>
                    <li>@Html.ActionLink("Localização", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Logout", "Index", "Login")</li>
                    <li style="color:aquamarine">OLÁ@ViewBag.NomeCliente</li>
                    <!--<li>@Html.ActionLink("Registar", "Index", "Cliente")</li>-->
                    <!--<li>@Html.ActionLink("Sobre Zen+", "About", "Home")</li>-->
                </ul>
            </div>
        </div>
    </div>
    <!-- LOGO -->
    <div class="centerImage">
        <img style='height: 40%; width: 40%; object-fit: contain' src="..\..\Content\images\logo_2.png">
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Home Massage Web Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>