@model  HomeMassageWeb.Models.Servico
@{
    ViewBag.Title = "Servico";
    Layout = "~/Views/Shared/_Funcionario.cshtml";
}

<h2>Serviço Selecionado</h2>
<hr />

@if (Model != null)
{
    <p><b>Cliente: </b> @ViewBag.Nome</p>
    <p><b>Massagem: </b> @Model.Massagem</p>
    <p><b>Endereço: </b> @Model.Endereco</p>
    <p><b>Código Postal: </b> @Model.Codigo_Postal</p>
    <p><b>Data: </b> @Model.Data</p>

    <div>
        @using (Html.BeginForm("FinalizarServico", "Funcionario", FormMethod.Post))
        {
            <button type="submit" name="Id_Servico" value=@Model.Id_Servico class="lb btn btn-primary">Finalizar</button>
        }
        <br />
        @using (Html.BeginForm("Index", "Funcionario", FormMethod.Post))
        {
            <button class="lb btn btn-default">Obter direções</button>
        }
        <br />
        @using (Html.BeginForm("Index", "Funcionario", FormMethod.Post))
        {
            <button class="lb btn btn-default">Voltar</button>
        }
    </div>
}


<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ocorrências</h4>
            </div>
            <div class="modal-body">
                <p>Pretende reportar alguma situação?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" name="Ocorrencia" value=1 class="btn btn-primary btn-default btn-prev">Confirmar</button>
                <button type="submit" name="Ocorrencia" value=0 class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>-->
