@{
    Layout = "~/Views/Shared/_Cliente.cshtml";
}


<div class="titulo">
    <center>
        <h1>ESTÁ PREPARADO PARA A SUA MASSAGEM?</h1>
    </center>
</div>



<hr>
<div style="margin-left: 160px;" class="row">
    <center>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <a href="@Url.Action("Index", "Servico")" class="thumbnail">
                    <img style='height: 90%; width: 90%;' class="img-responsive" src="..\..\Content\images\relaxar.png">
                </a>
                <h3>Relaxante</h3>
            </center>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <a href="@Url.Action("Index", "Servico")" class="thumbnail">
                    <img style='height: 100%; width: 100%;' class="img-responsive" src="..\..\Content\images\deep.png">
                </a>
                <h3>Profunda</h3>
            </center>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <a href="@Url.Action("Index", "Servico")" class="thumbnail">
                    <img style='height: 95%; width: 95%;' class="img-responsive" src="..\..\Content\images\sueca.png">
                </a>
                <h3>Sueca</h3>
            </center>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <a href="@Url.Action("Index", "Servico")" class="thumbnail">
                    <img style='height: 83%; width: 83%;' class="img-responsive" src="..\..\Content\images\desportiva.png">
                </a>
                <h3>Desportiva</h3>
            </center>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <center>
                <a href="@Url.Action("Index", "Servico")" class="thumbnail">
                    <img style='height: 100%; width: 100%;' class="img-responsive" src="..\..\Content\images\natal.png">
                </a>
                <h3>Pré-Natal</h3>
            </center>
        </div>
    </center>
</div>
