@model IEnumerable<HomeMassageWeb.Models.Servico>
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Cliente.cshtml";
}

<h2>Serviços Pendentes/Efetuados</h2>
<hr />

@using (Html.BeginForm("CancelarServico", "Cliente", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="span5">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Massagem</th>
                            <th>Data</th>
                            <th>Endereço</th>
                            <th>Recibo</th>
                            <th>Estado</th>
                            <th>Classificação</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.Massagem == 1)
                                    {
                                        <p>Relaxante</p>
                                    }

                                    @if (item.Massagem == 2)
                                    {
                                        <p>Profunda</p>
                                    }
                                    @if (item.Massagem == 3)
                                    {
                                        <p>Sueca</p>
                                    }
                                    @if (item.Massagem == 4)
                                    {
                                        <p>Desportiva</p>
                                    }
                                    @if (item.Massagem == 5)
                                    {
                                        <p>Pré-Natal</p>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Endereco)
                                </td>
                                <td>
                                    @if (item.Estado == true)
                                    {

                                        @Html.ActionLink(" ", "Recibo", "Cliente", "", new { @class = "glyphicon glyphicon-download-alt" })
                                    }
                                    else
                                    {
                                        <p style="margin-left:20px;">-</p>
                                    }
                                </td>
                                <td>
                                    @if (item.Estado == true)
                                    {
                                        <span class="label label-success">Efetuado</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning">Pendente</span>
                                    }
                                </td>
                                <td>
                                    @if (item.Estado != false && item.Classificacao == null)
                                    {        
                                        @Html.ActionLink(" ", "Classificar", "Cliente", new { Id_Servico = item.Id_Servico } , new { @class = "glyphicon glyphicon-thumbs-up" })
                                    }
                                    else
                                    {
                                        if (item.Classificacao == 1)
                                        {
                                            <p>Péssimo</p>
                                        }

                                        if (item.Classificacao == 2)
                                        {
                                            <p>Razoável</p>
                                        }
                                        if (item.Classificacao == 3)
                                        {
                                            <p>Bom</p>
                                        }
                                        if (item.Classificacao == 4)
                                        {
                                            <p>Muito bom</p>
                                        }
                                        if (item.Classificacao == 5)
                                        {
                                            <p>Excelente</p>
                                        }
                                    }
                                </td>
                                <td>
                                    @if (item.Estado == false)
                                    {
                                        <!--<button onclick="setID()" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                                            <span class="glyphicon glyphicon-remove"></span> Cancelar
                                            <script>
                                                function setID()
                                                {
                                                    @{ ViewBag.Id = @item.Id_Servico; }
                                                }
                                            </script>
                                        </button>
                                        -->
                                        <button type="submit" name="ID" value=@item.Id_Servico ; class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-remove"></span> Cancelar
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cancelar Serviço</h4>
                    </div>
                    <div class="modal-body">
                        <p>Tem a certeza que pretende cancelar o serviço?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-default btn-prev">Confirmar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
